@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.cont {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png');
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
}

.but {
    width: 140px;
    font-size: 18px;
    height: 50px;
}

.bla {
    text-align: center;
}

.head {
    margin-bottom: 20px;
    font-size: 37px;
}

.img {
    height: 30px;
    width: 50px;
}

.ai-bgcontainer5 {
    background-color: white;
    height: 100%;
    background-size: cover;
}

.img5 {
    height: 110px;
    width: 110px;
}

.para5 {
    color: #7b8794;
    font-size: 20px;
}

.head5 {
    padding: 5px;
    font-size: 35px;
    font-weight: 500;
}

.main-head5 {
    font-weight: bold;
    font-size: 40px;
    padding: 25px;
}

.spann5 {
    font-style: italic;
    font-weight: bold;
    color: black;
}






.head6 {
    color: #1f2933;
    font-weight: bold;
    font-size: 35px;
    padding: 25px;
}

.para6 {
    color: #323f4b;
    font-size: 30px;
}

.img6 {
    height: 300px;
    width: 230px;
}




.img7 {

    width: 100%;
}

.head7 {
    color: #1f2933;
    font-size: 28px;
    font-weight: bold;
}

.para7 {
    color: #7b8794;
    font-size: 19px;
}

.but7 {
    font-size: 17px;
    height: 40px;
    width: 120px;
}




.conta8 {
    background-color: white;
    background-size: cover;
    height: 100%;
    padding-bottom: 40px;
}

.img8 {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png');
    background-size: cover;
}

.img28 {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png');
    background-size: cover;
}

.btn8 {
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    width: 150px;
    height: 55px;
    font-size: 20px;
}

.head8 {
    font-size: 40px;
    color: #1f2933;
    font-weight: bold;
}

.head28 {
    color: white;
    font-size: 40px;
}

.para8 {
    color: white;
    font-size: 21px;
}

.product-card8 {
    width: 100%;
    height: 600px;
}



.cont19 {
    background-color: white;
    background-size: cover;
    height: 100%;
}

.head9 {
    color: #1f2933;
    font-weight: bold;
    font-size: 45px;
}

.img9 {
    width: 100%;
    background-size: cover;
}

.para9 {
    color: #959ead;
    font-size: 17px;
}

.para29 {
    color: #323f4b;
    font-size: 27px;
    font-family: Roboto;
}

.para39 {
    color: #1754a1;
    font-size: 19px;
    font-family: Roboto;
    font-weight: bold;
}

.border9 {

    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
}

.button9 {
    width: 190px;
    height: 58px;
    font-size: 27px;
}



.img99 {
    height: 200px;
    width: 300px;
}

.container99 {
    background-color: #222b36;
    height: 100%;
    background-size: cover;
}

.head99 {
    color: white;
    padding-top: 60px;
    font-size: 55px;
}




.contq {
    background-color: #19232d;
    background-size: cover;
    height: 100%;
}

.padq {
    padding-top: 70px;
}

.imgq {
    height: 50px;
    width: 75px;
}

.icon-containerq {
    width: 40px;
    height: 30px;
    border-radius: 40px;
    padding-top: 8px;
    padding-bottom: 35px;
    padding-right: 35px;
    padding-left: 15px;
    background-color: #202b36;
    margin-right: 9px;
    margin-bottom: 8px;
}

.iconq {
    color: #5a7184;
    font-size: 20px;
}

.paraq {
    color: #5a7184;
    font-family: Roboto;
    font-size: 20px;
}

.para2q {
    color: #5a7184;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
}

.para3q {
    color: #959ead;
    font-family: Roboto;
    font-size: 25px;
}

.verq {
    vertical-align: middle;
}

.paddingq {
    padding-top: 80px;
}